.container-trabalhos{
    position: absolute;
    top: 250px;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: -1;
}

.trabalho{
    margin: 10px;
}

.trabalho-thumb img{
    width: 360px;
}

.trabalho-titulo{
    width: 360px;
    font-size: 15pt;
    font-weight: 100;
    text-transform: lowercase;
    font-family: 'Outfit';
    color: #c9b7b4;
}

@media (max-width: 800px){
    .container-trabalhos{
        top: 100px;
    }

    .trabalho{
        width: 120px;
    }
    
    .trabalho-thumb img{
        width: 120px;
    }

    .trabalho-titulo{
        width: 120px;
        font-size: 10pt;
        color: white;
    }
}

@media (max-width: 350px){
    .container-trabalhos{
        top: 90px;
    }

    .trabalho{
        width: 180px;
    }
    
    .trabalho-thumb img{
        width: 180px;
    }
}